.cards-side-container {
    display: grid;
    grid-gap: 40px;
    margin-left: 32px;
}

.cards-side-item-light {
    display: flex;
    border-bottom: 1px solid #DADADA;
}
.cards-side-item-dark {
    display: flex;
    border-bottom: 1px solid #8D8E97;
}

.cards-side-container__image {
    width: 96px;
    height: 96px;
    object-fit: cover;
}

.cards-side-text-block__date {
    font-size: 16px;
    color: #8D8E97;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 6px;
}

.cards-side-text-block__title-light {
    font-size: 18px;
    color: #313037;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 24px;
}
.cards-side-text-block__title-dark {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 24px;
}