.textarea-container {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    margin-bottom: 40px;
    height: 84px;
}
.textarea-place__title-light {
    color: #313037;
    /* font-family: Inter; */
    font-size: 16px;
    font-weight: 600;
    /* line-height: 20px; */
    /* letter-spacing: 0px; */
    margin-bottom: 8px;
    /* text-align: left; */

}
.textarea-place__title-dark {
    color: #FFFFFF;
    /* font-family: Inter; */
    font-size: 16px;
    font-weight: 600;
    /* line-height: 20px; */
    /* letter-spacing: 0px; */
    margin-bottom: 8px;
    /* text-align: left; */

}
.textarea-container__input-place {
    /* display: flex; */
    /* margin: 0;
    padding: 0; */
    width: 544px;
    height: 56px;
    border: none;
    /* outline: none; */
    outline-color: rgb(235, 235, 255);
    text-indent: 20px;

}

.container__textarea-place::placeholder {
    background: #8D8E97;
    /* margin-left: 10px; */
    text-indent: 20px;
}