.cards-botton-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-flow: row;
    padding-top: 39px;
}

.cards-botton-item-light {
    width: 352px;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 40px;
}
.cards-botton-item-dark {
    width: 352px;
    border-bottom: 1px solid #8D8E97;
    margin-bottom: 40px;
}
.cards-botton-item__image {
    width: 352px;
    height: 246px;
    object-fit: cover;

}

.cards-botton-text-block {
    margin-top: 24px;
    margin-bottom: 28px;
}

.cards-botton-text-block__date {
    font-size: 16px;
    color: #8D8E97;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 8px;
}

.cards-botton-text-block__title-light {
    font-size: 18px;
    color: #313037;
    font-weight: 600;
}
.cards-botton-text-block__title-dark {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
}