.header-container {
    height: 84px;
    width: 100%;
    background-color: #E8E8E8;
    display: flex;
    justify-content: space-between;
}
.header-container__title {
    color: deeppink;
    margin-left: 10%;
    cursor: pointer;
    font-size: 24px;
}
.header-right-block {
    display: flex;
}
.header-right-block-search {
    width: 530px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* border-left: 1px solid #5360CD; */

}
/* .header-right-block-search__icon {
    width: 24px;
    height: 24px;
    color: deeppink;
} */
.header-right-block-search__random-button {
    color: deeppink;
}
.header-right-block-search__input-place {
    width: 73%;
    height: 35px;
    border: none;
    border-radius: 25px;
    /* outline: none; */
    outline-color: rgb(235, 235, 255);
    text-indent: 20px;
}
.header-right-block-search::placeholder {
    background: #8D8E97;
    /* margin-left: 10px; */
    text-indent: 20px;
}
.header-right-block-favorites {
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border-left: 1px solid #5360CD; */

}
.header-right-block-favorites__icon {
    width: 24px;
    height: 24px;
    color: deeppink;
}


@media screen and (max-width: 1025px) {
    .header-container__title {
        font-size: 24px;
        margin-left: 5%;

    }
}
@media screen and (max-width: 820px) {
    .header-container__title {
        font-size: 24px;
        width: 95%;
        margin-left: 5%;
    }
}
@media screen and (max-width: 810px) {
    .header-container__title {
        font-size: 20px;
    }
}
@media screen and (max-width: 754px) {
    .header-container {
        /* height: 84px;
        width: 100%;
        background-color: #E8E8E8;
        display: flex; */
        justify-content: center;
    }
    .header-right-block {
        display: flex;
        /* flex-direction: column; */
        align-items: flex-start;
        max-width: 80%;
    }
    .header-right-block-search__input-place {
        width: 75%;
        /* margin-right: 10px; */
        height: 35px;
        border: none;
        border-radius: 25px;
        /* outline: none; */
        outline-color: rgb(235, 235, 255);
        text-indent: 20px;
    }
    .header-right-block-search {
        width: 450px;
        height: 84px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        /* border-left: 1px solid #5360CD; */
    
    }
    .header-right-block-favorites {
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        /* border-left: 1px solid #5360CD; */
    
    }
    .header-right-block-search__random-button {
        font-size: 15px;
    }
}