.block-titile-add-post-form {
    margin-left: 300px;
    padding-top: 72px;

}
.block-titile-add-post-form__button-back-to-home {
    color: #313037;
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}
.add-post-form-light {
    margin: 0 auto;
    width: 1118px;
    padding-bottom: 76px;

    /* height: 684px; */
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;

}
.add-post-form-dark {
    margin: 0 auto;
    width: 1118px;
    padding-bottom: 76px;

    /* height: 684px; */
    background-color: #313037;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;

}
.add-post-input-block {
    /* width: 1118px; */

    margin-bottom: 8px;
}
.add-post-input-block__title-post {
    width: 1118px;
    height: 56px;
    border: none;
    /* outline: none; */
    outline-color: rgb(235, 235, 255);
    text-indent: 20px;
}


.add-post-input-block__title-post::placeholder {
    /* background: #8D8E97; */
    /* margin-left: 10px; */
    text-indent: 20px;
}
.add-post-image-block {
    display: flex;
    justify-content: space-between;

}

.add-post-image-block__lesson-number-title {
    width: 544px;
    height: 56px;
    border: none;
    text-indent: 20px;
    outline: none;
}
.add-post-image-block__image-place{
    width: 543px;
    height: 56px;
    border: none;
    text-indent: 20px;
    outline: none;
}
.add-post-input-block__description {
    width: 1118px;
    height: 98px;
    border: none;
    resize: none;
    outline: none;
    text-indent: 20px;
    padding-top: 18px;
}
.add-post-input-block__description::placeholder {
    text-indent: 20px;
    
}
.add-post-input-block__post-text {
    width: 1118px;
    height: 245px;
    border: none;
    resize: none;   
    outline: none;
    text-indent: 20px;
    padding-top: 18px;

}
.add-post-input-block__post-text::placeholder {
    text-indent: 20px;
}
.add-post-form__question {
    color: #313037;
    font-size: 16px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 40px;
}
.question__add-post {
    color: blue;
    cursor: pointer;
}
.background-light-theme {
    background-color: #F3F3F3;
}
.background-dark-theme {
    background-color: #313037;
}
.input-container__inputPlace {
    width: 1118px;
}
.add-post-button-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.add-post-button-block__delete-post-button {
    background: transparent;
    color: #FD3419;
    font-size: 18px;
    height: 56px;
    width: 125px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}
.add-post-button-right-block__cancel-button {
    background-color: #E8E8E8;
    color: #313037;
    font-size: 18px;
    height: 56px;
    width: 125px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}
.add-post-button-right-block__add-post-button {
    background-color: #2231AA;
    color: #FFFFFF;
    font-size: 18px;
    height: 56px;
    width: 143px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-left: 24px;
}