.card-main-container-light {
    display: flex;
    width: 736px;
    height: 736px;
    border-bottom: 1px solid #DADADA;
}
.card-main-container-dark {
    display: flex;
    width: 736px;
    height: 736px;
    border-bottom: 1px solid #8D8E97;
}
.card-main-text-block {
    margin-right: 32px;
}

.card-main-text-block__date {
    font-size: 16px;
    color: #8D8E97;
    /* font-family: Inter; */
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 8px;
}

.card-main-text-block__title-light {
    font-size: 32px;
    color: #313037;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 24px;
    /* font-family: Inter; */
}
.card-main-text-block__title-dark {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 24px;
    /* font-family: Inter; */
}

.card-main-text-block__text {
    font-size: 16px;
    color: #8D8E97;
    font-weight: 400;
}

.card-main-container__image {
    width: 256px;
    height: 244px;
    object-fit: cover;
}